<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
    linkedin_icon: "<%= image_path('linkedinicon.png')%>",
    github_icon: "<%= image_path('githubicon.png')%>",
    email_icon: "<%= image_path('emailicon.png')%>",
    logo: "<%= image_path('logo.png')%>"
  }
</script>

<main id="root"></main>
